# Capstone Hotel reservation prediction

![Logo](img/hotel-logo.png)

## Business Understanding and Set-up
Purpose: Ask relevant questions and define objectives for the problem that needs to be tackled

### DataSet
The dataset contains bookings made in different hotels from one hotel chain.
One line corresponds to one person. For example, a double room is usually displayed in two rows with the same booking number.
The customer id is also assigned per person and provides information about whether customers book in several houses or more than once in one house.

### Final Deliverables
- Jupyter notebook following PEP8 designed for data science / technical audience.
- Slide deck (pdf / 10min presentation) pushed to GitHub designed for non-technical stakeholders outlining findings and recommendations, as well as future work.

### Goal
- Creating a next best offer _system_ to forecast bookings made in 2019
- Help identify repeating customers, as well as the features used for predition.
- Predict in which quarter and destination customer will book thier next stay.

### Key Question
- How to identify repeating customers
- What do repeating customers have in common

### Step by step
this notebook:
- Merging three datasets
- Cleaning
 - missing values
 - inconsistency checks
 - change variable types

next notebooks:
- Feature engineering
- EDA
- Basic Logistic regression
- Balacing target variable
- Dummy variable creation
- Logistic regression
- Pipeling
- Cross Validation
- Random Forest
- Lasso
- Hazard
- Ensemble Methods
- TimeSeries
- Conclusion

### Outcome/TakeAways
- Columns reise_special_event & flag_old have no value for the analysis
- Columns lkz & sprache_deutsch have low value for the analysis
- 
- 
- 
- 
- 


### To-Do-List / Outlook
- Adding additional information like:
 - events at the destination
 - Cancelations
 - Revenue per available room (required capacity for each destination)
 - feedback from tripadvisor, yelp, etc. as well as from hotel internal surveys

### Glossary

| Variables | Description | Key | Type | Source 
| :- |:- | :- | --- | --- |
| **buchungsdatum** | Date of booking | YYYY-mm-dd | interval | booking |
| **buchungsjahr** | Year of booking |  | interval | new feature |
| **buchungsquartal_jahr** | Quarter of booking and year |  | interval | new feature |
| **buchungsquartal** | Quarter of booking |  | interval | new feature |
| **buchungsmonat_jahr** | Month of booking and year |  | interval | new feature |
| **buchungsmonat** | Month of booking |  | interval | new feature |
| **buchungswoche** | Week of booking |  | interval | new feature |
| **buchungstag** | Day of booking |  | interval | new feature |  
| **buchung_wochentag** | Weekday of booking | 0 = Mo - 6 = So | nominal | new feature |
| **anreisedatum** | Date of arrival | YYYY-mm-dd | interval | booking | 
| **anreisejahr** | Year of arrival |  | interval | new feature |
| **anreisequartal_jahr** | Quarter of arrival and year |  | interval | new feature |
| **anreisequartal** | Quarter of arrival |  | interval | new feature |
| **anreisemonat_jahr** | Month of arrival and year |  | interval | new feature |
| **anreisemonat** | Month of arrival |  | interval | new feature |
| **anreisewoche** | Week of arrival |  | interval | new feature |
| **anreisetag** | Day of arrival |  | interval | new feature |
| **anreise_wochentag** | Weekday of arrival | 0 = Mo - 6 = So | nominal | new feature |
| **abreisedatum** | Date of departure | YYYY-mm-dd | interval | new feature |
| **abreisejahr** | Year of departure |  | interval | new feature |
| **abreisequartal_jahr** | Quarter of departure and year |  | interval | new feature |
| **abreisequartal** | Quarter of departure |  | interval | new feature |
| **abreisemonat_jahr** | Month of departure and year |  | interval | new feature |
| **abreisemonat** | Month of departure |  | interval | new feature |
| **abreisewoche** | Week of departure |  | interval | new feature |
| **abreisetag** | Day of departure |  | interval | new feature |
| **abreise_wochentag** | Weekday of departure | 0 = Mo - 6 = So | nominal | new feature |
| **naechte_insgesamt** | Total nights incl. excursion with nights out |  | ratio | booking | 
| **gebuchte_naechte** | Booked night at the hotel | | ratio | booking | 
| **naechte_ausserhalb** | nights out of hotel |  | ratio | new feature |
| **aufenthalt** | Difference between depature and arrival date |  | ratio | new feature |
| **Diff** | Difference between rows per booking and person per booking |  | ratio | new feature |
| **buchungsvorlauf** | Lead booking time in days |  | ratio | new feature |
| **anz_buch** | Amount of bookings per guest |  | ratio | new feature |
| **gesamtpreis** | Total money spent |  | ratio | booking | 
| **preis_nacht** | Price per night |  | ratio | new feature |
| **personen_anzahl** | Amount of person for reservation |  | ratio | booking |
| **preis_per** | Price per Person |  | ratio | new feature |
| **preis_nacht_per** | Price per person and night |  | ratio | new feature |
| **buch_zeilen** | Rows corresponding to booking number |  | ratio | new feature |
| **erstbuchung** | First booking by client | 0 - 1 | dichotomous | new feature |
| **folgebuchung** | Follow-up booking by client | 0 - 1 | dichotomous | new feature |
| **repeater** | Client is repeating guest | 0 - 1 | dichotomous | new feature |
| **saison** | Season of booking | YYYY | interval | booking |
| **buchungskanal** | Booking source | phone, online or travel agency | nominal | new feature |
| **buchung_telefon** | Booking made by phone | 0 - 1 | dichotomous | booking |
| **buchung_online** | Booking made online | 0 - 1 | dichotomous | booking |
| **buchung_reisebuero** | Booking via travel agency | 0 - 1 | dichotomous | booking |
| **zimmerarten** | room category | 0 = basic, 1 = classic, 2 = premium | nominal | booking |
| **reise_adventure** | Theme trip: adventure | 0 - 1 | dichotomous | booking |
| **reise_relax** | Theme trip: relax | 0 - 1 | dichotomous | booking |
| **reise_standard** | Theme trip: standard | 0 - 1 | dichotomous | booking |
| **reise_genuss** | Theme trip: enjoyment | 0 - 1 | dichotomous | booking |
| **kind** | Child | 0 - 1 | dichotomous | booking |
| **entfernung** | Distance |  | ratio | booking |
| **zahler** | Payer | 0 - 1 | dichotomous | booking |
| **kunden_id** | Client ID |  | nominal | booking/client |
| **buchungsnr** | Booking number |  | nominal | booking |
| **buchungsnr_reisebuero** | Travel agency booking number |  | nominal | booking |
| **menue_code** | Menue Code|  | nominal | booking |
| **zusatzleistung** | Additional service |  | nominal | booking |
| **destination** | Hotel |  | nominal | booking |
| **anrede** | Title |  | nominal | client |
| **plz** | ZIP code |  | nominal | client/area |
| **ort** | City |  | nominal | client/area |
| **lkz** | Country |  | nominal | client |
| **kontinent** | continent |  | nominal | client |
| **kein_email_ad** | Advertising ban e-mail | 0 - 1 | dichotomous | client |
| **kein_brief_ad** | Advertising ban mail | 0 - 1 | dichotomous | client |
| **kein_anruf_ad** | Advertising ban Call | 0 - 1 | dichotomous | client |
| **kein_katalog_ad** | Advertising ban catalogue | 0 - 1 | dichotomous | client |
| **kein_sms_ad** | Advertising ban SMS | 0 - 1 | dichotomous | client |
| **keine_werbung** | general advertising ban | 0 - 1 | dichotomous | client |
| **werbe_ban** | Advertising channels ban |  | nominal | new feature |
| **anz_werbe_ban** | Amount of banned advertising channels | 0 - 5 | ordinal | new feature |
| **sprache_deutsch** | Speaks german | 0 - 1 | dichotomous | client |
| **jahrgangsalter_klassiert** | Age group of the guest |  | dichotomous | client |
| **bundesland** | Federal state |  | dichotomous | area |
| **einwohner_adjusted_plz** | Residents adapted for the zip code |  | dichotomous | area |
| **bev_m_plz** | Male population of the zip code |  | dichotomous | area |
| **bev_w_plz** | Female population of the zip code |  | dichotomous | area |
| **bev_insgesamt_ort** | Total population of the city |  | dichotomous | area |
| **bev_weiblich_ort** | Female population of the city |  | dichotomous | area |
| **bev_maennlich_ort** | Male population of the city |  | dichotomous | area |
| **qkm_plz** | Square kilometer of the zip code area |  | dichotomous | area |
| **flaeche_ort** | Are of the city |  | dichotomous | area |
| **einwohnerdichte_prokm2_plz** | Population density per square kilometers of the zip code |  | dichotomous | area |
| **haushalte_regiog_2017_plz** | Households in the region 2017 by zip code |  | dichotomous | area |
| **kaufkraft_einwohner_in_eur_regio** | Residents' purchasing power in EUR for the region |  | dichotomous | area |
| **kk_einwohner_index_regiog_2017** | Purchasing power of inhabitants Index for the region (2017) |  | dichotomous | area |
| **kk_hh_index_regiog_2017** | Federal state |  | dichotomous | area |
| **gemeindetyp_regiostar_2016** | Community type Regiostar 2016 |  | dichotomous | area |
| **wirtschaftskraftmr1** | economic power mr1 |  | dichotomous | area |
| **wirtschaftskraftmr2** | economic power mr2 |  | dichotomous | area |
| **flag_old** | marked as old information |  | dichotomous | area |

### Import required libraries

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

- read both files 
- Compare if the kunden_id from both csvs has the exact same value for each row
- merge them into one DataFrame

In [2]:
df_c = pd.read_csv("data/kunden_daten_2018.csv", sep=";", encoding="iso-8859-15")
df_b = pd.read_csv("data/buchung_daten_2018.csv", sep=";", encoding="iso-8859-15")

# check if kunden_id is in the exact same order for both datasets
# receiving one value instead of one for each row through the tuple 
tuple(df_c["kunden_id"].values) == tuple(df_b["kunden_id"].values)

True

Since both kunden_id are exactly the same, we are able to merge both DataFrames to one

In [3]:
df_c.drop("kunden_id", axis=1, inplace=True)
df = pd.concat([df_b, df_c], axis=1)
df.shape

(245131, 39)

#### Loading and merging area dataset

In [4]:
df_r = pd.read_csv("data/export_regio.csv", sep=";") #without encoding="iso-8859-15"

# need to convert plz to string, float and integer not possible due to british zip codes
df.plz = df.plz.astype("str")
df_r.plz = df_r.plz.astype("str")

# drop ort (exists in both datasets with small difference)
df_r.drop("ort", axis=1, inplace=True)

# preparing four letter zip codes in df_r
mask = df_r.plz.str.len() == 4
df_r.loc[mask, 'plz'] = '0' + df_r.loc[mask, 'plz']

df = df.merge(df_r.assign(lkz='DE'), on=['plz', 'lkz'], how='left')
df.shape

(245131, 57)

Overview about the DataFrame

In [5]:
df.head()

,buchungsdatum,anreisetag,abreisetag,naechte_insgesamt,gebuchte_naechte,personen_anzahl,gesamtpreis,saison,buchung_telefon,buchung_online,buchung_reisebuero,zimmerarten,reise_special_event,reise_adventure,reise_relax,reise_standard,reise_genuss,kind,entfernung,zahler,kunden_id,buchungsnr,buchungsnr_reisebuero,menue_code,zusatzleistung,destination,anrede,plz,ort,lkz,kein_email_ad,kein_brief_ad,kein_anruf_ad,kein_katalog_ad,kein_sms_ad,keine_werbung,kundenclub,sprache_deutsch,jahrgangsalter_klassiert,bundesland,einwohner_adjusted_plz,bev_m_plz,bev_w_plz,bev_insgesamt_ort,bev_weiblich_ort,bev_männlich_ort,qkm_plz,fläche_ort,einwohnerdichte_prokm2_plz,haushalte_regiog_2017_plz,kaufkraft_einwohner_in_eur_regio,kk_einwohner_index_regiog_2017,kk_hh_index_regiog_2017,gemeindetyp_regiostar_2016,wirtschaftskraftmr1,wirtschaftskraftmr2,flag_old
0,29jan2010,02apr2010 00:00:00,10apr2010 00:00:00,8.0,8,2,2982,2010,0,0,1,classic,0,0,0,0,1,0,535.48,1,1,1151,456,5.0,5,linz,Herr,29664,Walsrode,DE,0,0,0,0,0,0,0,1.0,55-64,Niedersachsen,25173.0,12540.0,12633.0,25173.0,11577.0,11491.0,344.326464,344.326464,73.108,11453.0,20641.89,92.819,98.104,Landregion - Zentrale Stadt,-0.333392,-0.388738,0.0
1,14jan2010,05apr2010 00:00:00,10apr2010 00:00:00,5.0,5,2,1437,2010,0,0,1,classic,0,0,0,1,0,0,544.72,0,2,40,6413,5.0,5,linz,Frau,50226,Frechen,DE,1,1,1,1,1,1,0,1.0,55-64,Nordrhein-Westfalen,52473.0,25645.0,26828.0,52473.0,26828.0,25645.0,45.118960,45.118960,1162.992,26227.0,25268.58,113.623,111.379,Landregion - Zentrale Stadt,0.853802,-0.345112,0.0
2,01mar2010,05apr2010 00:00:00,10apr2010 00:00:00,5.0,5,2,1737,2010,0,0,1,classic,0,0,0,1,0,0,606.63,0,3,2134,4322,5.0,5,linz,Herr,23970,Wismar,DE,0,0,0,0,0,0,0,1.0,75-84,Mecklenburg-Vorpommern,1423.0,692.0,731.0,46442.0,21844.0,20706.0,50.563027,83.131346,17.117,6355.0,18697.65,84.076,73.665,"Stadtregion - Kleinstädtischer, dörflicher Raum",-1.012536,-1.012536,0.0
3,25jan2010,21mar2010 00:00:00,25mar2010 00:00:00,4.0,4,2,1047,2010,0,0,1,classic,0,0,1,0,0,0,421.59,1,4,776,6414,69.0,9,linz,Frau,15732,Eichwalde,DE,0,0,0,0,0,0,0,1.0,65-74,Brandenburg,14690.0,7302.0,7388.0,14690.0,4135.0,4087.0,11.965427,11.965427,1227.704,7159.0,23442.06,105.410,104.087,Landregion - Städtischer Raum,0.417226,0.417226,0.0
4,26jan2010,07mar2010 00:00:00,09mar2010 00:00:00,2.0,2,20,5279,2010,0,0,1,classic,0,1,0,0,0,0,37.88,0,5,813,2938,113.0,2,duesseldorf,Frau,53881,Euskirchen,DE,0,0,0,0,0,0,1,1.0,45-54,Nordrhein-Westfalen,28531.0,13975.0,14556.0,57975.0,29578.0,28397.0,127.679129,139.430913,204.625,11683.0,23328.82,104.901,120.110,"Stadtregion - Kleinstädtischer, dörflicher Raum",0.212335,-0.579173,0.0

## Missings

In [6]:
missing = pd.DataFrame(df.isnull().sum().sort_values(ascending=False),columns=['Number'])
missing['Percentage'] = round(missing.Number/df.shape[0]*100,2)
missing[missing.Number!=0]

                                  Number  Percentage
jahrgangsalter_klassiert           57516       23.46
entfernung                         46790       19.09
gemeindetyp_regiostar_2016         39833       16.25
bundesland                         39450       16.09
bev_m_plz                          39450       16.09
bev_w_plz                          39450       16.09
bev_männlich_ort                   39450       16.09
bev_weiblich_ort                   39450       16.09
qkm_plz                            39413       16.08
bev_insgesamt_ort                  39413       16.08
einwohner_adjusted_plz             39413       16.08
einwohnerdichte_prokm2_plz         39413       16.08
fläche_ort                         39413       16.08
wirtschaftskraftmr2                39401       16.07
haushalte_regiog_2017_plz          39401       16.07
kaufkraft_einwohner_in_eur_regio   39401       16.07
kk_einwohner_index_regiog_2017     39401       16.07
kk_hh_index_regiog_2017            39401       16.07
wirtschaftskraftmr1                39401       16.07
flag_old                           39346       16.05
lkz                                24665       10.06
ort                                24652       10.06
anrede                             22980        9.37
destination                         8655        3.53
sprache_deutsch                     1089        0.44
naechte_insgesamt                    332        0.14
zimmerarten                          129        0.05
menue_code                            57        0.02

# Datacleaning

In [7]:
initial_size = df.shape

#### Dropping all bookings not made by Germans

In [8]:
res = round((df.lkz.value_counts(normalize=True)*100)[0],2)
print(f"{res}% of the booking lines are from Germany")

rows = df[df.lkz != "DE"].count()[0]
df = df[df.lkz == "DE"]

# copy lkz for feature continent
#df["kontinent"] = df.lkz

df.drop("lkz", axis=1, inplace=True)
print(f"{rows} rows dropped and column lkz")

93.87% of the booking lines are from Germany
38186 rows dropped and column lkz

#### Show and drop unique values per column equals 1
dropping two more columns with just one value

In [9]:
x = df.nunique()
print(df[list(x[x<=1].index)].columns)
df.drop("reise_special_event", axis=1, inplace=True)
df.drop("flag_old", axis=1, inplace=True)

Index(['reise_special_event'], dtype='object')

#### finding deduplicates 

(every entry is exact the same)

In [10]:
duplicateRowsDF  = df[df.duplicated()]
print(f"Duplicate Rows based on all columns are : {len(duplicateRowsDF)}")

Duplicate Rows based on all columns are : 0

#### date of booking, arrival and departure (buchungsdatum, anreisetag and abreisetag)

change format and rename columns

In [11]:
column_names       = {"anreisetag": "anreisedatum", "abreisetag": "abreisedatum"}
df.rename(columns  = column_names, inplace=True)

df["buchungsdatum"] = pd.to_datetime(df["buchungsdatum"])
df["anreisedatum"] = pd.to_datetime(df["anreisedatum"])
df["abreisedatum"] = pd.to_datetime(df["abreisedatum"])

Check if buchungsdatum < anreisedatum <	abreisetag

In [12]:
ab_errors = df.loc[(df['buchungsdatum'] > df['anreisedatum'])] 
print(f"{len(ab_errors)} wrong Buchungsdatum")

bc_errors = df.loc[(df['anreisedatum'] > df['abreisedatum'])] 
print(f"\n{len(bc_errors)} wrong Anreisedatum")

ab_errors.iloc[:, 0:3].head()

21 wrong Buchungsdatum

0 wrong Anreisedatum

      buchungsdatum anreisedatum abreisedatum
24442    2011-11-14   2011-11-13   2011-11-17
40980    2011-12-21   2011-12-11   2011-12-15
41599    2017-04-27   2017-04-15   2017-04-18
45867    2017-04-27   2017-04-15   2017-04-18
58557    2010-05-27   2010-04-13   2010-04-17

Dropping all 21 rows

In [13]:
df.drop(ab_errors.index, inplace=True)

#### Nights in total (naechte_insgesamt)
- will be transformed to integer after feature engeneering
- NaNs will be replaced by new feature values

In [14]:
print(df.naechte_insgesamt.value_counts(dropna=False))

7.0     87709
4.0     49986
5.0     33947
3.0     10144
9.0      6731
8.0      4428
10.0     3801
6.0      3031
16.0     2599
11.0     1783
14.0     1207
17.0      476
2.0       409
NaN       275
12.0      219
13.0       86
15.0       52
1.0        41
Name: naechte_insgesamt, dtype: int64

#### nights booked (gebuchte_naechte)

In [15]:
print(df.gebuchte_naechte.value_counts())
print(f"\n{df.query('gebuchte_naechte > 22 or gebuchte_naechte == 0').count()[0]} entries with 0 or more than 22 nights booked")

res = df.query('gebuchte_naechte > 22 and naechte_insgesamt == "NaN"').count()[0]
print(f"\n{res} with more than 22 nights booked and naechte_insgesamt  NaN")

rows = df.query('gebuchte_naechte > 22 or gebuchte_naechte == 0')
df.drop(rows.index, inplace=True)
print(f"\nDropping {len(rows)} rows with 0 or more than 22 nights booked")

7       92093
4       50894
5       34402
3        9951
9        6136
10       3515
16       3034
6        2253
11       1444
8        1290
14       1174
2         380
17        119
12         47
1          47
13         39
18         24
15         17
0          15
366        13
22          8
19          5
95          5
21          2
30          2
35          2
3111        2
41          2
2198        1
31          1
20          1
36          1
311         1
316         1
192         1
66          1
135         1
Name: gebuchte_naechte, dtype: int64

49 entries with 0 or more than 22 nights booked

34 with more than 22 nights booked and naechte_insgesamt  NaN

Dropping 49 rows with 0 or more than 22 nights booked

#### amount of persons (personen_anzahl)

amount of persons are aggregated

In [16]:
print(df.personen_anzahl.value_counts().head())
print(f"\n{df.personen_anzahl.value_counts().tail()}")
print(f"\n{df.query('personen_anzahl > 10').count()[0]} bookings with more than 10 persons.")
print(f"\n{df.query('personen_anzahl > 20').count()[0]} bookings with more than 20 persons.")
print(f"\n{df.query('personen_anzahl > 30').count()[0]} bookings with more than 30 persons.")
print(f"\n{df.query('personen_anzahl > 40').count()[0]} bookings with more than 40 persons.")

2    136361
4     21928
3     14153
1      9292
6      7674
Name: personen_anzahl, dtype: int64

61    18
28    18
66    14
21    12
60     8
Name: personen_anzahl, dtype: int64

5109 bookings with more than 10 persons.

1351 bookings with more than 20 persons.

722 bookings with more than 30 persons.

442 bookings with more than 40 persons.

#### total price (gesamtpreis)

In [17]:
print(f"{df.gesamtpreis.nunique()} different values for gesamtpreis")

rows = df.query('gesamtpreis == 0')
df.drop(rows.index, inplace=True)
print(f"\n{len(rows)} entries with gesamtpreis = 0 dropped")

print(f"\n{df.query('gesamtpreis > 10_000').count()[0]} entries with gesamtpreis > 10,000")
# vielleicht über arr aufschlussreicher

10302 different values for gesamtpreis

25 entries with gesamtpreis = 0 dropped

16813 entries with gesamtpreis > 10,000

#### buchung_telefon _online and _reisebuero

no modifications need to be done

In [18]:
print(f"{df.buchung_telefon.value_counts()}")
print(f"\n{df.buchung_online.value_counts()}")
print(f"\n{df.buchung_reisebuero.value_counts()}")

print(f"\n{df.query('buchung_telefon == 1 or buchung_online == 1 or buchung_reisebuero == 1').count()[0]} bookings with a source.")
print(f"{df.query('buchung_telefon == 0 and buchung_online == 0 and buchung_reisebuero == 0').count()[0]} bookings without a source.")

0    182631
1     24219
Name: buchung_telefon, dtype: int64

0    188548
1     18302
Name: buchung_online, dtype: int64

1    164329
0     42521
Name: buchung_reisebuero, dtype: int64

206850 bookings with a source.
0 bookings without a source.

#### room categories (zimmerarten)

In [19]:
print(f'{df.zimmerarten.unique()}')
print(f'\n{df.groupby(["zimmerarten"])["gesamtpreis"].count()}')
print(f'\n{round(df.groupby(["zimmerarten"])["gesamtpreis"].mean(),2)}')

# change NaN to classic
print(f"\n{df.zimmerarten.isna().sum() } NaNs in zimmerarten changed to classic")
df.zimmerarten.fillna("classic", inplace=True) 

#obsolete
''' 
# recode room categories
room_dict = {"basic" : 0,
             "classic":1,
             "premium":2
            }
df.zimmerarten.replace(room_dict, inplace=True)
'''

['classic' 'premium' 'basic' nan]

zimmerarten
basic        5226
classic     58229
premium    143327
Name: gesamtpreis, dtype: int64

zimmerarten
basic      3367.66
classic    3312.05
premium    5465.73
Name: gesamtpreis, dtype: float64

68 NaNs in zimmerarten changed to classic

' \n# recode room categories\nroom_dict = {"basic" : 0,\n             "classic":1,\n             "premium":2\n            }\ndf.zimmerarten.replace(room_dict, inplace=True)\n'

#### no modifications for reise_adventure, reise_relax, reise_standard & reise_genuss

In [20]:
print(f"\n{df.reise_adventure.value_counts()}")
print(f"\n{df.reise_relax.value_counts()}")
print(f"\n{df.reise_standard.value_counts()}")
print(f"\n{df.reise_genuss.value_counts()}")

print(f"\n{df.query('reise_adventure == 1 or reise_relax == 1 or reise_standard == 1 or reise_genuss == 1').count()[0]} Buchungen mit Sourceangabe.")

0    196258
1     10592
Name: reise_adventure, dtype: int64

0    156866
1     49984
Name: reise_relax, dtype: int64

1    124660
0     82190
Name: reise_standard, dtype: int64

0    185236
1     21614
Name: reise_genuss, dtype: int64

206850 Buchungen mit Sourceangabe.

#### child (kind) 

seem to indicate if the room was booked for child or for an adult

In [21]:
print(df.kind.value_counts())

0    202638
1      4212
Name: kind, dtype: int64

#### distance (entfernung)

In [22]:
print(f"distance in feature entfernung from {df.entfernung.min()} to {df.entfernung.max()} km")
print(f"\n{df.query('entfernung < 20').count()[0]} entries with distance under 20 km")

rows= df.query('entfernung == 0')
df.drop(rows.index, inplace=True)
print(f"\n{len(rows)} entries with distance 0 km dropped")

distance in feature entfernung from 0.0 to 2140.6 km

6820 entries with distance under 20 km

104 entries with distance 0 km dropped

#### payer (zahler)

In [23]:
print(df.zahler.unique())

print(f"\n{df.groupby(['kind','zahler']).size().reset_index(name='count')}")

res = df.query('kind == 1 and zahler == 1 and jahrgangsalter_klassiert == "<18"').count()[0]

print(f"\n{res} children under 18 had to pay for their rooms themself")

[1 0]

   kind  zahler   count
0     0       0  125868
1     0       1   76669
2     1       0    4187
3     1       1      22

21 children under 18 had to pay for their rooms themself

#### client ids (kunden_id)

In [24]:
print(f"{df.kunden_id.nunique()} client ids")

kunden_liste = list(df.kunden_id)
res = all(i < j for i, j in zip(kunden_liste, kunden_liste[1:])) 
print (f"\nAre the client ids strictly rising? {str(res)}") 
# Caused by several lines per booking with the same client id

booking_dates = list(df.buchungsdatum)
res2 = all(i < j for i, j in zip(booking_dates, booking_dates[1:])) 
print (f"\nAre the booking dates strictly rising? {str(res2)}") 

booking_numbers = list(df.buchungsnr)
res3 = all(i < j for i, j in zip(booking_numbers, booking_numbers[1:])) 
print (f"\nAre the booking numbers strictly rising? {str(res3)}") 

print("\nDataFrame sorted by client id") if kunden_liste == sorted(kunden_liste) else print("\nDataFrame not sorted by client id")
print("\nDataFrame sorted by booking date") if booking_dates == sorted(booking_dates) else print("\nDataFrame not sorted by booking date")
print("\nDataFrame sorted by booking number") if booking_numbers == sorted(booking_numbers) else print("\nDataFrame not sorted by booking number")

164725 client ids

Are the client ids strictly rising? False

Are the booking dates strictly rising? False

Are the booking numbers strictly rising? False

DataFrame sorted by client id

DataFrame not sorted by booking date

DataFrame not sorted by booking number

#### booking number (buchungsnr)

In [25]:
print(f"{df.buchungsnr.nunique()} unique booking numbers")
print(f"\n{round(df.shape[0]/df.buchungsnr.nunique(),2)} rows in average per booking. Indicating more than one person per room.")

115046 unique booking numbers

1.8 rows in average per booking. Indicating more than one person per room.

#### travel agency booking number (buchungsnr_reisebuero)

In [26]:
print(f"{df.buchungsnr_reisebuero.nunique()} unique booking numbers from travel agencies")
print(f"\n{df.buchungsnr_reisebuero.count()} entries with travel agency booking number in total")
print(f"\n{df.query('buchung_reisebuero == 1').count()[0]} through a travel agency")

print(f'\nTravel agency booking number for bookings via phone: {df["buchungsnr_reisebuero"][(df["buchung_reisebuero"] == 0) & (df["buchung_telefon"] == 1)].unique()}')
print(f'\nTravel agency booking number for bookings online: {df["buchungsnr_reisebuero"][(df["buchung_reisebuero"] == 0) & (df["buchung_online"] == 1)].unique()}')
print(f"\n{df.buchungsnr_reisebuero.isna().sum() } NaNs in buchungsnr_reisebuero")

print(f"\n{round(df.query('buchung_reisebuero == 1').count()[0]/df.buchungsnr_reisebuero.nunique(),2)} average number of rooms per booking via channel travel agency")
print(f"\n{round(df.buchungsnr_reisebuero.count()/df.buchungsnr_reisebuero.nunique(),2)} average number of rooms per booking per travel agengy boooking number")

7768 unique booking numbers from travel agencies

206746 entries with travel agency booking number in total

164265 through a travel agency

Travel agency booking number for bookings via phone: [8316]

Travel agency booking number for bookings online: [8319]

0 NaNs in buchungsnr_reisebuero

21.15 average number of rooms per booking via channel travel agency

26.62 average number of rooms per booking per travel agengy boooking number

#### menue_code 

replaced NaN with 0 and changed float to int

In [27]:
print(f"{df.menue_code.nunique()} different menue options")
print(f"\n{df.menue_code.isna().sum()} entries with NaN for menue_code")

print(f"\n{df.menue_code.apply(type).value_counts()}\n")

# change NaN to 0
df.menue_code.fillna(0, inplace=True) 

# change column from float to int
df.menue_code = df.menue_code.astype("int64")

213 different menue options

54 entries with NaN for menue_code

<class 'float'>    206746
Name: menue_code, dtype: int64

#### additional services (zusatzleistung)

In [28]:
print(f"{df.zusatzleistung.nunique()} different additional services")
df.zusatzleistung.value_counts()

13 different additional services

3     30648
8     22825
2     20765
9     20129
12    20011
4     19833
5     19298
10    15989
6     15141
7     11297
11     9667
1      1139
0         4
Name: zusatzleistung, dtype: int64

#### destination

In [29]:
print(df.destination.value_counts(dropna=False))

rows= df.query('destination != destination')
df.drop(rows.index, inplace=True)
print(f"\n{len(rows)} entries without a destination dropped.")

linz                 94697
duesseldorf          79187
saint etienne        20473
NaN                   7201
chalons-sur-marne     4049
viana do castelo      1139
Name: destination, dtype: int64

7201 entries without a destination dropped.

#### title (anrede)

In [30]:
print(df.anrede.value_counts(dropna=False))
df.anrede.fillna("Herr", inplace=True)
print("Replace missing values with 'Herr'")

Frau     103890
Herr      79530
NaN       15979
Firma       146
Name: anrede, dtype: int64
Replace missing values with 'Herr'

#### zipcode (plz)

In [31]:
print(f"{df.plz.nunique()} unique zipcodes")
print(f"\n{df.plz.isna().sum()} NaNs for plz")

8195 unique zipcodes

0 NaNs for plz

#### city (ort)

In [32]:
print(f"{df.ort.nunique()} unique cities")
print(f"\n{df.ort.isna().sum()} NaNs for ort")

8727 unique cities

0 NaNs for ort

#### country (lkz)

In [33]:
'''
print(f"{df.lkz.unique()}")

print(f"\n{df['lkz'].value_counts()[df['lkz'].value_counts()< 11].sum()} entries with less than 11 bookings.")

print(f"\n{df.lkz.isna().sum()} NaNs for lkz")
'''

'\nprint(f"{df.lkz.unique()}")\n\nprint(f"\n{df[\'lkz\'].value_counts()[df[\'lkz\'].value_counts()< 11].sum()} entries with less than 11 bookings.")\n\nprint(f"\n{df.lkz.isna().sum()} NaNs for lkz")\n'

#### no advertisment through different channels (email, phone, etc.)

(kein_email_ad / kein_brief_ad / kein_anruf_ad / kein_katalog_ad / kein_sms_ad /keine_werbung)

In [34]:
print(f"\n{df.kein_email_ad.value_counts()}")
print(f"\n{df.kein_brief_ad.value_counts()}")
print(f"\n{df.kein_anruf_ad.value_counts()}")
print(f"\n{df.kein_katalog_ad.value_counts()}")
print(f"\n{df.kein_sms_ad.value_counts()}")
print(f"\n{df.keine_werbung.value_counts()}")

print(f"\n{df.query('kein_email_ad == 0 or kein_brief_ad == 0 or kein_anruf_ad == 0 or kein_katalog_ad == 0 or kein_sms_ad == 0 or keine_werbung == 0').count()[0]} reservations with inforamtion about advertisment allowance.")
print(f"{df.query('kein_email_ad == 1 and kein_brief_ad == 1 and kein_anruf_ad == 1 and kein_katalog_ad == 1 and kein_sms_ad == 1 and keine_werbung == 1').count()[0]} of the reservations with no advertisment at all.")

0    159487
1     40058
Name: kein_email_ad, dtype: int64

0    159533
1     40012
Name: kein_brief_ad, dtype: int64

0    177577
1     21968
Name: kein_anruf_ad, dtype: int64

0    189232
1     10313
Name: kein_katalog_ad, dtype: int64

0    177578
1     21967
Name: kein_sms_ad, dtype: int64

0    160262
1     39283
Name: keine_werbung, dtype: int64

189257 reservations with inforamtion about advertisment allowance.
10288 of the reservations with no advertisment at all.

#### club member (kundenclub)

In [35]:
df.kundenclub.value_counts(dropna=False)

0    153415
1     46130
Name: kundenclub, dtype: int64

#### speaks german (sprache_deutsch)

In [36]:
print(f"{df.sprache_deutsch.value_counts(dropna=False)}")

#res = df.query('(lkz == "DE" or lkz == "CH" or lkz == "Au") and sprache_deutsch == 0').count()[0]
#print(f"\n{res} speaking german unknown for german, austrian or swiss citizen. Chaning all to speaking german True")

df.sprache_deutsch.fillna(1, inplace=True) 
print(f"\n{df.sprache_deutsch.apply(type).value_counts()}\n")

df.sprache_deutsch = df.sprache_deutsch.astype("int64")

# since all Country != DE will be dropped, this column can be dropped
df.drop("sprache_deutsch", axis=1, inplace=True)

1.0    197711
NaN       997
0.0       837
Name: sprache_deutsch, dtype: int64

<class 'float'>    199545
Name: sprache_deutsch, dtype: int64

#### age group (jahrgangsalter_klassiert)

In [37]:
print(df.jahrgangsalter_klassiert.value_counts())

tmp = df.groupby(['kind','jahrgangsalter_klassiert', 'zahler']).size().reset_index(name='count')

print(f"\nShow age group for children:")
tmp[tmp.kind == 1].iloc[:,1:4]

65-74    46571
75-84    44668
55-64    32005
45-54    12941
85-94    12633
35-44     4161
<18       3488
25-34     1983
18-24     1942
>=95      1054
Name: jahrgangsalter_klassiert, dtype: int64

Show age group for children:

   jahrgangsalter_klassiert  zahler  count
19                    18-24       0    818
20                    18-24       1      1
21                    25-34       0     11
22                      <18       0   3312
23                      <18       1     21

#### Adjusted citizen per zip code

In [38]:
print(f"{df.einwohner_adjusted_plz.apply(type).value_counts()}")
print(f"\n{df.einwohner_adjusted_plz.value_counts(dropna=False).head()}")
print(f"\n{df.einwohner_adjusted_plz.nunique()} unique values.")


print(f"\n{df[df.einwohner_adjusted_plz.isna()].plz.value_counts().head()}")
print(f"\nCorrelated zip code for NaNs in einwohner_adjusted_plz are wrong zip codes.")

print(f"\n{df[df.einwohner_adjusted_plz.isna()].ort.value_counts().head()}")

rows= df[df.einwohner_adjusted_plz.isna()]
df.drop(rows.index, inplace=True)

print(f"\nSince city information are also misleading, rows will be dropped.")

df.einwohner_adjusted_plz = df.einwohner_adjusted_plz.astype("int64")
print(f"{df.einwohner_adjusted_plz.apply(type).value_counts()}")

<class 'float'>    199545
Name: einwohner_adjusted_plz, dtype: int64

NaN        1196
54071.0     396
19967.0     382
56385.0     337
48326.0     323
Name: einwohner_adjusted_plz, dtype: int64

6389 unique values.

12345    152
10000    115
00000    104
x         43
11111     13
Name: plz, dtype: int64

Correlated zip code for NaNs in einwohner_adjusted_plz are wrong zip codes.

xxxxx    60
xxx      55
Abcd     52
xx       45
abcd     34
Name: ort, dtype: int64

Since city information are also misleading, rows will be dropped.
<class 'int'>    198349
Name: einwohner_adjusted_plz, dtype: int64

#### Federal state (bundesland)

In [39]:
print(f"{df.bundesland.value_counts(dropna=False)}")

rows= df[df.bundesland.isna()]
df.drop(rows.index, inplace=True)

print(f"\n{len(rows)} rows dropped.")

Nordrhein-Westfalen       55356
Bayern                    31672
Baden-Württemberg         21442
Niedersachsen             19483
Hessen                    14989
Rheinland-Pfalz            9662
Berlin                     7147
Schleswig-Holstein         7090
Sachsen                    6169
Thüringen                  4822
Brandenburg                4610
Mecklenburg-Vorpommern     4559
Hamburg                    4346
Sachsen-Anhalt             4339
Bremen                     1447
Saarland                   1179
NaN                          37
Name: bundesland, dtype: int64

37 rows dropped.

#### bev_m_plz

In [40]:
print(f"{df.bev_m_plz.value_counts(dropna=False).head()}")
print(f"\n{df.bev_m_plz.isna().sum()} NaNs.")

df.bev_m_plz = df.bev_m_plz.astype("int64")
print(f"\n{df.bev_m_plz.apply(type).value_counts()}")

26105.0    396
27590.0    337
23544.0    323
27323.0    302
25645.0    300
Name: bev_m_plz, dtype: int64

0 NaNs.

<class 'int'>    198312
Name: bev_m_plz, dtype: int64

#### bev_w_plz

In [41]:
print(f"{df.bev_w_plz.value_counts(dropna=False).head()}")
print(f"\n{df.bev_w_plz.isna().sum()} NaNs.")

df.bev_w_plz = df.bev_w_plz.astype("int64")
print(f"\n{df.bev_w_plz.apply(type).value_counts()}")

27966.0    396
28795.0    337
24782.0    323
28444.0    302
26828.0    300
Name: bev_w_plz, dtype: int64

0 NaNs.

<class 'int'>    198312
Name: bev_w_plz, dtype: int64

#### bev_insgesamt_ort

In [42]:
print(f"{df.bev_insgesamt_ort.value_counts(dropna=False).head()}")
print(f"\n{df.bev_insgesamt_ort.isna().sum()} NaNs.")

df.bev_insgesamt_ort = df.bev_insgesamt_ort.astype("int64")
print(f"\n{df.bev_insgesamt_ort.apply(type).value_counts()}")

1066252.0    4882
1860977.0    4346
1471505.0    3506
583108.0     1535
620757.0     1505
Name: bev_insgesamt_ort, dtype: int64

0 NaNs.

<class 'int'>    198312
Name: bev_insgesamt_ort, dtype: int64

#### bev_weiblich_ort

In [43]:
print(f"{df.bev_weiblich_ort.value_counts(dropna=False).head()}")
print(f"\n{df.bev_weiblich_ort.isna().sum()} NaNs.")

df.bev_weiblich_ort = df.bev_weiblich_ort.astype("int64")
print(f"\n{df.bev_weiblich_ort.apply(type).value_counts()}")

1852025.0    7147
556296.0     5001
939131.0     4346
754200.0     3585
319979.0     1560
Name: bev_weiblich_ort, dtype: int64

0 NaNs.

<class 'int'>    198312
Name: bev_weiblich_ort, dtype: int64

#### rename columns

In [44]:
column_names       = {"bev_männlich_ort": "bev_maennlich_ort", "fläche_ort": "flaeche_ort"}
df.rename(columns  = column_names, inplace=True)

#### bev_maennlich_ort

In [45]:
print(f"{df.bev_maennlich_ort.value_counts(dropna=False).head()}")
print(f"\n{df.bev_maennlich_ort.isna().sum()} NaNs.")

df.bev_maennlich_ort = df.bev_maennlich_ort.astype("int64")
print(f"\n{df.bev_maennlich_ort.apply(type).value_counts()}")

1792801.0    7147
529368.0     5001
902048.0     4346
717308.0     3585
299315.0     1560
Name: bev_maennlich_ort, dtype: int64

0 NaNs.

<class 'int'>    198312
Name: bev_maennlich_ort, dtype: int64

#### qkm_plz

In [46]:
print(f"{df.qkm_plz.value_counts(dropna=False).head()}")
print(f"\n{df.qkm_plz.isna().sum()} NaNs.")

72.380213    396
75.824964    337
82.674026    323
34.203325    302
45.118960    300
Name: qkm_plz, dtype: int64

0 NaNs.

#### flaeche_ort

In [47]:
print(f"{df.flaeche_ort.value_counts(dropna=False).head()}")
print(f"\n{df.flaeche_ort.isna().sum()} NaNs.")

404.873529    4882
794.661540    4346
310.893670    3506
210.316002    1535
215.063404    1505
Name: flaeche_ort, dtype: int64

0 NaNs.

#### einwohnerdichte_prokm2_plz

In [48]:
print(f"{df.einwohnerdichte_prokm2_plz.value_counts(dropna=False).head()}")
print(f"\n{df.einwohnerdichte_prokm2_plz.isna().sum()} NaNs.")

747.041     396
743.621     337
584.537     323
1630.456    302
1162.992    300
Name: einwohnerdichte_prokm2_plz, dtype: int64

0 NaNs.

#### haushalte_regiog_2017_plz

In [49]:
print(f"{df.haushalte_regiog_2017_plz.value_counts(dropna=False).head()}")

rows= df[df.haushalte_regiog_2017_plz.isna()]
df.drop(rows.index, inplace=True)

print(f"\n{len(rows)} rows with NaNs dropped.")

df.haushalte_regiog_2017_plz = df.haushalte_regiog_2017_plz.astype("int64")
print(f"\n{df.haushalte_regiog_2017_plz.apply(type).value_counts()}")

25601.0    396
26298.0    337
21417.0    323
25970.0    302
26227.0    300
Name: haushalte_regiog_2017_plz, dtype: int64

11 rows with NaNs dropped.

<class 'int'>    198301
Name: haushalte_regiog_2017_plz, dtype: int64

#### kaufkraft_einwohner_in_eur_regio

In [50]:
print(f"{df.kaufkraft_einwohner_in_eur_regio.value_counts(dropna=False).head()}")
print(f"\n{df.kaufkraft_einwohner_in_eur_regio.isna().sum()} NaNs.")

28414.48    396
20620.07    337
24458.49    323
24212.53    302
25268.58    300
Name: kaufkraft_einwohner_in_eur_regio, dtype: int64

0 NaNs.

#### kk_einwohner_index_regiog_2017

In [51]:
print(f"{df.kk_einwohner_index_regiog_2017.value_counts(dropna=False).head()}")
print(f"\n{df.kk_einwohner_index_regiog_2017.isna().sum()} NaNs.")

127.769    396
92.721     337
109.980    323
108.875    302
98.591     300
Name: kk_einwohner_index_regiog_2017, dtype: int64

0 NaNs.

#### kk_hh_index_regiog_2017

In [52]:
print(f"{df.kk_hh_index_regiog_2017.value_counts(dropna=False).head()}")
print(f"\n{df.kk_hh_index_regiog_2017.isna().sum()} NaNs.")

115.470    408
133.739    396
97.460     337
120.943    323
111.379    300
Name: kk_hh_index_regiog_2017, dtype: int64

0 NaNs.

#### gemeindetyp_regiostar_2016

In [53]:
print(f"{df.gemeindetyp_regiostar_2016.value_counts(dropna=False).head()}")
print(f"\n{df.gemeindetyp_regiostar_2016.isna().sum()} NaNs for {df[df.gemeindetyp_regiostar_2016.isna()].ort.nunique()} different Cities.")

df[df.gemeindetyp_regiostar_2016.isna()]

Landregion - Städtischer Raum                     47897
Landregion - Zentrale Stadt                       38238
Landregion - Kleinstädtischer, dörflicher Raum    36564
Stadtregion - Metropole                           33626
Stadtregion - Mittelstadt, städtischer Raum       16468
Name: gemeindetyp_regiostar_2016, dtype: int64

372 NaNs for 84 different Cities.

,buchungsdatum,anreisedatum,abreisedatum,naechte_insgesamt,gebuchte_naechte,personen_anzahl,gesamtpreis,saison,buchung_telefon,buchung_online,buchung_reisebuero,zimmerarten,reise_adventure,reise_relax,reise_standard,reise_genuss,kind,entfernung,zahler,kunden_id,buchungsnr,buchungsnr_reisebuero,menue_code,zusatzleistung,destination,anrede,plz,ort,kein_email_ad,kein_brief_ad,kein_anruf_ad,kein_katalog_ad,kein_sms_ad,keine_werbung,kundenclub,jahrgangsalter_klassiert,bundesland,einwohner_adjusted_plz,bev_m_plz,bev_w_plz,bev_insgesamt_ort,bev_weiblich_ort,bev_maennlich_ort,qkm_plz,flaeche_ort,einwohnerdichte_prokm2_plz,haushalte_regiog_2017_plz,kaufkraft_einwohner_in_eur_regio,kk_einwohner_index_regiog_2017,kk_hh_index_regiog_2017,gemeindetyp_regiostar_2016,wirtschaftskraftmr1,wirtschaftskraftmr2
356,2010-04-19,2010-10-16,2010-10-23,7.0,7,2,3447,2010,0,0,1,premium,0,0,1,0,0,536.37,0,281,3319,3413,13,5,linz,Frau,17209,Leizen,1,1,1,1,1,1,0,75-84,Mecklenburg-Vorpommern,5630,2879,2751,5630,452,473,338.553444,338.553444,16.630,2703,17323.77,77.898,79.607,NaN,-1.426565,-1.426565
653,2014-12-29,2015-12-03,2015-12-07,4.0,4,14,10351,2015,1,0,0,premium,0,1,0,0,0,238.23,0,494,63419,8316,231,4,duesseldorf,Frau,37351,Dingelstädt,0,0,0,0,0,0,1,65-74,Thüringen,6893,3477,3416,6893,3416,3477,59.248868,59.248868,116.340,3247,17617.30,79.218,84.099,NaN,-1.338107,-1.338107
654,2016-05-03,2017-05-04,2017-05-09,5.0,5,10,12415,2017,1,0,0,premium,0,0,1,0,0,378.60,0,494,84972,8316,5,8,linz,Frau,37351,Dingelstädt,0,0,0,0,0,0,1,65-74,Thüringen,6893,3477,3416,6893,3416,3477,59.248868,59.248868,116.340,3247,17617.30,79.218,84.099,NaN,-1.338107,-1.338107
1606,2013-12-11,2014-07-19,2014-07-26,7.0,7,4,8694,2014,0,0,1,premium,0,0,1,0,0,240.08,1,1064,46674,2411,13,3,linz,Herr,07366,Blankenberg,0,0,0,0,0,0,0,NaN,Thüringen,3996,2011,1985,3996,1985,2011,44.661738,44.661738,89.473,1793,18801.15,84.542,84.110,NaN,-0.981345,-0.981345
1654,2015-01-05,2015-08-02,2015-08-09,7.0,7,2,5334,2015,1,0,0,premium,0,0,1,0,0,342.58,0,1081,63713,8316,167,4,duesseldorf,Herr,07366,Harra,0,0,0,0,0,0,0,65-74,Thüringen,3996,2011,1985,3996,1985,2011,44.661738,44.661738,89.473,1793,18801.15,84.542,84.110,NaN,-0.981345,-0.981345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236307,2018-08-31,2019-10-12,2019-10-19,7.0,7,2,1799,2019,0,0,1,premium,0,0,1,0,1,240.08,0,193509,124713,3358,13,3,linz,Frau,07366,Blankenstein,0,0,0,0,0,0,0,<18,Thüringen,3996,2011,1985,3996,1985,2011,44.661738,44.661738,89.473,1793,18801.15,84.542,84.110,NaN,-0.981345,-0.981345
244698,2016-10-24,2017-04-14,2017-04-18,4.0,4,2,1797,2017,0,0,1,premium,0,1,0,0,0,273.74,0,201978,93540,4121,19,8,linz,Frau,98663,Gompertshausen,0,0,0,0,0,0,1,45-54,Thüringen,4935,2538,2397,4935,1675,1773,158.129942,158.129942,31.209,2243,19190.45,86.292,95.999,NaN,-0.864027,-0.864027
244699,2017-07-06,2018-04-27,2018-05-02,5.0,5,2,3447,2018,1,0,0,premium,0,0,1,0,0,276.54,0,201978,105556,8316,187,4,duesseldorf,Frau,98663,Gompertshausen,0,0,0,0,0,0,1,45-54,Thüringen,4935,2538,2397,4935,1675,1773,158.129942,158.129942,31.209,2243,19190.45,86.292,95.999,NaN,-0.864027,-0.864027
244715,2016-10-24,2017-04-14,2017-04-18,4.0,4,2,1797,2017,0,0,1,premium,0,1,0,0,0,273.74,1,202423,93540,4121,19,8,linz,Herr,98663,Gompertshausen,0,0,0,0,0,0,1,45-54,Thüringen,4935,2538,2397,4935,1675,1773,158.129942,158.129942,31.209,2243,19190.45,86.292,95.999,NaN,-0.864027,-0.864027
244716,2017-07-06,2018-04-27,2018-05-02,5.0,5,2,3447,2018,1,0,0,premium,0,0,1,0,0,276.54,1,202423,105556,8316,187,4,duesseldorf,Herr,98663,Gompertshausen,0,0,0,0,0,0,1,45-54,Thüringen,4935,2538,2397,4935,1675,1773,158.129942,158.129942,31.209,2243,19190.45,86.292,95.999,NaN,-0.864027,-0.864027

In [54]:
df.gemeindetyp_regiostar_2016.fillna("Stadtregion - Mittelstadt, städtischer Raum", inplace=True)

#### wirtschaftskraftmr1

In [55]:
print(f"{df.wirtschaftskraftmr1.value_counts(dropna=False).head()}")
print(f"\n{df.wirtschaftskraftmr1.isna().sum()} NaNs.")

 1.355972    396
-0.076041    337
 0.648826    323
 0.605635    302
 0.853802    300
Name: wirtschaftskraftmr1, dtype: int64

0 NaNs.

#### wirtschaftskraftmr2

In [56]:
print(f"{df.wirtschaftskraftmr2.value_counts(dropna=False).head()}")
print(f"\n{df.wirtschaftskraftmr2.isna().sum()} NaNs.")

 0.342068    396
-0.998071    337
 0.402773    323
-0.267881    302
-0.345112    300
Name: wirtschaftskraftmr2, dtype: int64

0 NaNs.

## Change of the data set after the adjustments

Drop rate for rows in percent

In [57]:
round((round(1-(df.shape[0] / initial_size[0]),4)*100),2)

19.1

Drop rate for columns in percent

In [58]:
(round(1-(df.shape[1]/ initial_size[1]),4)*100)

7.02

Missing value reduction of the columns that are not dropped

In [59]:
missing['new_Number'] = df.isnull().sum()
missing['new_Percentage'] = round(missing.new_Number/df.shape[0]*100,1)
missing[missing.new_Number>0.01]

                          Number  Percentage  new_Number  new_Percentage
jahrgangsalter_klassiert   57516       23.46     37896.0            19.1
entfernung                 46790       19.09       251.0             0.1
naechte_insgesamt            332        0.14       222.0             0.1

### Handling the remaining missing values

#### Distance (entfernung)
next and previous zip code will be used.

In [60]:
nan_entf = df.entfernung.isna().sum()

plz_list = df[df.entfernung.isna()].plz.unique()

for entry in plz_list:
    for desti in df[df.plz == entry].destination.unique():
        res = df.query("plz == @entry & destination == @desti").entfernung.unique()
        if len(res) == 1: 
            nentry = str(int(entry) + 1)
            res = df.query("plz == @nentry & destination == @desti").entfernung.unique()
            if len(res) == 1:
                mask = df.query("plz == @entry & destination == @desti")
                df.loc[mask.index, 'entfernung'] = res

plz_list = df[df.entfernung.isna()].plz.unique()

for entry in plz_list:
    for desti in df[df.plz == entry].destination.unique():
        res = df.query("plz == @entry & destination == @desti").entfernung.unique()
        if len(res) == 1: 
            nentry = str(int(entry) - 1)
            res = df.query("plz == @nentry & destination == @desti").entfernung.unique()
            if len(res) == 1:
                mask = df.query("plz == @entry & destination == @desti")
                df.loc[mask.index, 'entfernung'] = res
                
new_nan_entf = df.entfernung.isna().sum()  
df = df[df['entfernung'].notna()]
print(f"\n{nan_entf - new_nan_entf} less NaNs for distance.\n Rest will be dropped.")

114 less NaNs for distance.
 Rest will be dropped.

#### jahrgangsalter_klassiert
Source: regionalstatistik.de
Bevölkerung nach Geschlecht und Altersjahren - Stichtag 09.05.2011 - Ebenen Bundesland

In [61]:
df.bundesland.replace("Baden-Württemberg", "Baden-Wuerttemberg", inplace=True)
df.bundesland.replace("Thüringen", "Thueringen", inplace=True)

df.jahrgangsalter_klassiert.fillna('35-44', inplace=True) 

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Brandenburg') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Bremen') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Mecklenburg-Vorpommern') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Niedersachsen') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Nordrhein-Westfalen') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Rheinland-Pfalz') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Saarland') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Sachsen') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Sachsen-Anhalt') & (df['anrede'] == 'Herr')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45'
mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Sachsen-Anhalt') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Schleswig-Holstein') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

mask = (df['jahrgangsalter_klassiert'] == '35-44') & (df['bundesland'] == 'Thueringen') & (df['anrede'] == 'Frau')
df.loc[mask, 'jahrgangsalter_klassiert'] = '45-54'

#### Nights in total (naechte_insgesamt) 
NaNs will be replaced by new faeture values (see next notebook)

## Outlier handling
Handling through normalisation.

##  new merged and cleaned dataset.csv

In [62]:
df.to_csv("data/cleaned_dataset.csv", encoding="iso-8859-15")